<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <section class="section-products">
            <h3 class="normal"><a href="/" class="link-main normal">Inicio</a> /<a class="link-main">
                    Productos</a>
            </h3>

            <img src="/images/banner-militar.png" alt="Banner de Productos" class="banner contacto">

            <div class="sticky-menu">
                <div class="filter-box">
                    Filtros <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <div class="drop-categories hidden">
                    <!-- INDUMENTARIA -->
                    <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnIndumentaria filterTitles"><a
                                href="" class="filterColor">Indumentaria</a></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container subCategories">
                        <a href="#about">Sub-indumentaria</a>
                        <a href="#about">Sub-indumentaria</a>
                        <a href="#about">Sub-indumentaria</a>
                    </div>
                    <!-- CALZADO -->
                    <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnCalzado filterTitles"><a
                                href="" class="filterColor">Calzado</a></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container subCategories">
                        <a href="#about">Sub-calzado</a>
                        <a href="#about">Sub-calzado</a>
                        <a href="#about">Sub-calzado</a>
                    </div>
                    <!-- ACCESORIOS -->
                    <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnAccesorios filterTitles"><a
                                href="" class="filterColor">Accesorios</a></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container subCategories">
                        <a href="#about">Sub-accesorios</a>
                        <a href="#about">Sub-accesorios</a>
                        <a href="#about">Sub-accesorios</a>
                    </div>
                    <!-- BOLSOS Y MOCHILAS -->
                    <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnBolsos filterTitles"><a
                                href="" class="filterColor">Bolsos y mochilas</a></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container subCategories">
                        <a href="#about">Sub-bolsos y mochilas</a>
                        <a href="#about">Sub-bolsos y mochilas</a>
                        <a href="#about">Sub-bolsos y mochilas</a>
                    </div>
                    <!-- UNIFORMES -->
                    <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnUniformes filterTitles"><a
                                href="" class="filterColor">Uniformes</a></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container subCategories">
                        <a href="#about">Sub-uniformes</a>
                        <a href="#about">Sub-uniformes</a>
                        <a href="#about">Sub-uniformes</a>
                    </div>
                    <!-- ATRIBUTOS MILITARES -->
                    <button class="dropdown-btn toggle-btn bgcProducts"><span
                            class="btnAtributos filterTitles"><a href="" class="filterColor">Atributos militares</a></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container subCategories">
                        <a href="#about">Sub-atributos militares</a>
                        <a href="#about">Sub-atributos militares</a>
                        <a href="#about">Sub-atributos militares</a>
                    </div>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid, molestias iusto quae odit
                itaque maiores atque molestiae sed labore fugit, ducimus laudantium ipsum aliquam exercitationem tenetur
                repellat, quia ratione!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid, molestias iusto quae odit
                itaque maiores atque molestiae sed labore fugit, ducimus laudantium ipsum aliquam exercitationem tenetur
                repellat, quia ratione!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid, molestias iusto quae odit
                itaque maiores atque molestiae sed labore fugit, ducimus laudantium ipsum aliquam exercitationem tenetur
                repellat, quia ratione!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid, molestias iusto quae odit
                itaque maiores atque molestiae sed labore fugit, ducimus laudantium ipsum aliquam exercitationem tenetur
                repellat, quia ratione!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid, molestias iusto quae odit
                itaque maiores atque molestiae sed labore fugit, ducimus laudantium ipsum aliquam exercitationem tenetur
                repellat, quia ratione!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid, molestias iusto quae odit
                itaque maiores atque molestiae sed labore fugit, ducimus laudantium ipsum aliquam exercitationem tenetur
                repellat, quia ratione!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid, molestias iusto quae odit
                itaque maiores atque molestiae sed labore fugit, ducimus laudantium ipsum aliquam exercitationem tenetur
                repellat, quia ratione!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid, molestias iusto quae odit
                itaque maiores atque molestiae sed labore fugit, ducimus laudantium ipsum aliquam exercitationem tenetur
                repellat, quia ratione!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid, molestias iusto quae odit
                itaque maiores atque molestiae sed labore fugit, ducimus laudantium ipsum aliquam exercitationem tenetur
                repellat, quia ratione!</p>
        </section>
    </main>

    <%- include("../partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>