<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <section class="section-products">
            <h3 class="normal"><a href="/" class="link-main normal">Inicio</a> /<a class="link-main">
                    Productos</a>
            </h3>

            <img src="/images/banner-militar.png" alt="Banner de Productos" class="banner contacto">

            <div class="sticky-menu">
                <div class="filter-box">
                    Filtros <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <div class="drop-categories hidden">
                    <!-- INDUMENTARIA -->
                    <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnIndumentaria filterTitles"><a
                                href="" class="filterColor">Indumentaria</a></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container subCategories">
                        <a href="#about">Pantalones</a>
                        <a href="#about">Chalecos</a>
                        <a href="#about">Camisas</a>
                        <a href="#about">Escudos</a>
                        <a href="#about">Abrigos</a>
                    </div>
                    <!-- CALZADO -->
                    <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnCalzado filterTitles"><a href=""
                                class="filterColor">Calzado</a></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container subCategories">
                        <a href="#about">Borceguies</a>
                        <a href="#about">Zapatos</a>
                        <a href="#about">Botas</a>
                    </div>
                    <!-- ACCESORIOS -->
                    <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnAccesorios filterTitles"><a
                                href="" class="filterColor">Accesorios</a></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container subCategories">
                        <a href="#about">Linternas</a>
                        <a href="#about">Guantes</a>
                        <a href="#about">Cinturones</a>
                    </div>
                    <!-- BOLSOS Y MOCHILAS -->
                    <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnBolsos filterTitles"><a href=""
                                class="filterColor">Bolsos y mochilas</a></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container subCategories">
                        <a href="#about">Mochilas</a>
                        <a href="#about">Bolsos</a>
                    </div>
                    <!-- UNIFORMES -->
                    <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnUniformes filterTitles"><a
                                href="" class="filterColor">Uniformes</a></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container subCategories">
                        <a href="#about">Policia Bonaerense</a>
                        <a href="#about">GNA</a>
                        <a href="#about">PSA</a>
                    </div>
                    <!-- ATRIBUTOS MILITARES -->
                    <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnAtributos filterTitles"><a
                                href="" class="filterColor">Atributos militares</a></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container subCategories">
                        <a href="#about">Seguridad</a>
                        <a href="#about">Policial</a>
                        <a href="#about">Militar</a>
                    </div>
                </div>
            </div>

            <aside>
            
            </aside>

            <div>
                <!-- INDUMENTARIA -->
                <div class="sectionFeatured">
                    <h3><a href="">Indumentaria</a></h3>
                    <div>
                        <article class="articleProduct">
                            <img src="/images/products/indumentaria-1.png" alt="Foto de producto">
                            <p>Indumentaria verde</p>
                        </article>
                        <article class="articleProduct">
                            <img src="/images/products/indumentaria-2.png" alt="">
                            <p>Indumentaria fluo</p>
                        </article>
                        <article class="articleProduct">
                            <img src="/images/products/indumentaria-3.png" alt="">
                            <p>Indumentaria gris</p>
                        </article>
                        <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                    </div>
                </div>
                <!-- CALZADO -->
                <div class="sectionFeatured">
                    <h3><a href="">Calzado</a></h3>
                    <div>
                        <article class="articleProduct">
                            <img src="/images/products/calzado-1.png" alt="Foto de producto">
                            <p>Borceguies negras</p>
                        </article>
                        <article class="articleProduct">
                            <img src="/images/products/calzado-2.png" alt="">
                            <p>Botas marrones</p>
                        </article>
                        <article class="articleProduct">
                            <img src="/images/products/calzado-2.png" alt="">
                            <p>Botas marrones</p>
                        </article>
                        <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                    </div>
                </div>
                <!-- ACCESORIOS -->
                <div class="sectionFeatured">
                    <h3><a href="">Accesorios</a></h3>
                    <div>
                        <article class="articleProduct">
                            <img src="/images/products/accesorios-1.png" alt="Foto de producto">
                            <p>Cinturon marron</p>
                        </article>
                        <article class="articleProduct">
                            <img src="/images/products/accesorios-2.png" alt="">
                            <p>Guantes negros</p>
                        </article>
                        <article class="articleProduct">
                            <img src="/images/products/accesorios-3.png" alt="">
                            <p>Chaleco militar</p>
                        </article>
                        <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                    </div>
                </div>
                <!-- BOLSOS Y MOCHILAS -->
                <div class="sectionFeatured">
                    <h3><a href="">Bolsos y mochilas</a></h3>
                    <div>
                        <article class="articleProduct">
                            <img src="/images/products/mochila-1.png" alt="Foto de producto">
                            <p>Mochila militar verde</p>
                        </article>
                        <article class="articleProduct">
                            <img src="/images/products/mochila-2.png" alt="">
                            <p>Mochila militar negra</p>
                        </article>
                        <article class="articleProduct">
                            <img src="/images/products/mochila-3.png" alt="">
                            <p>Mochila militar beige</p>
                        </article>
                        <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                    </div>
                </div>
                <!-- UNIFORMES -->
                <div class="sectionFeatured">
                    <h3><a href="">Uniformes</a></h3>
                    <div>
                        <article class="articleProduct">
                            <img src="/images/products/uniforme-1.png" alt="Foto de producto">
                            <p>Uniforme negro</p>
                        </article>
                        <article class="articleProduct">
                            <img src="/images/products/uniforme-2.png" alt="">
                            <p>Uniforme militar camuflado</p>
                        </article>
                        <article class="articleProduct">
                            <img src="/images/products/uniforme-3.png" alt="">
                            <p>Uniforme gris</p>
                        </article>
                        <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                    </div>
                </div>
                <!-- ATRIBUTOS MILITARES -->
                <div class="sectionFeatured">
                    <h3><a href="">Atributos militares</a></h3>
                    <div>
                        <article class="articleProduct">
                            <img src="/images/category-1.png" alt="Foto de producto">
                            <p>Casco militar</p>
                        </article>
                        <article class="articleProduct">
                            <img src="/images/category-2.png" alt="">
                            <p>Camisa militar</p>
                        </article>
                        <article class="articleProduct">
                            <img src="/images/category-3.png" alt="">
                            <p>Mochila militar</p>
                        </article>
                        <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include("../partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>