<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <section class="section-products">
            <ul class="breadcrumb">
                <li><a href="/" class="link-main">Inicio</a> /&nbsp;</li>
                <li><a href="/products" class="link-main">Productos</a> /&nbsp;</li>
                <li><a href="/products/productosInd" class="link-main">Indumentaria</a> /&nbsp;</li>
                <li><a class="link-main bolder">Nombre del producto</a></li>
            </ul>

            <div class="main-product">
                <div class="div-img">
                    <img src="/images/products/indumentaria-1.png" alt="Campera Verde Militar" class="img-product">
                </div>
                <div class="div-product">
                    <h1 class="title-product">Campera verde Militar</h1>
                    <p class="code-product">Talles: <span>S - M - L </span></p>
                    <p class="code-product">Código de producto: <span>306-7185 </span></p>
                    <p class="price-product">$23.999</p>
                    <p class="description-product">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae minus
                        natus
                        quibusdam recusandae maxime
                        repudiandae consequuntur, ipsa pariatur ut saepe vitae nisi earum optio officia culpa quia?
                        Corporis, odio temporibus.</p>
                    <div class="buttons-product">
                        <a href="" class="btn-wpp">CONSULTAR <i class="fab fa-whatsapp"></i></a>
                        <a href="mailto:" class="btn-mail">CONSULTAR <i class="far fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <%- include("../partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>