* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100vh;
}

body {
    font-family: "Raleway", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    background-color: #ffffff;
}


/* Carousel */

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.dots{
    text-align:center;
    padding-top: 5px;
}
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* Menu Canvas */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    margin-bottom: 4px;
}
.sidenav a span {
   border-bottom: 1px solid #bfbfbfb0;
   padding-bottom: 6px;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Header */

.main-header {
    background-color: rgb(18, 17, 17);
    text-align: center;
}

.main-navbar {
    display: none;
    background: linear-gradient(178.6deg, rgb(32, 32, 33) 11.8%, rgb(66, 68, 71) 83.8%);
    border: 3px solid rgb(32, 32, 33);
}

.logo {
    width: 60px;
}

.hamburguer-button {
    color: #ffffff;
    padding-bottom: 27px;
    padding-right: 23px;
    font-size: 20px;
}

.burger-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    align-self: center;
    width: 50%;
    text-align: center;
    padding-bottom: 25px;
}

.search-button {
    font-size: 12px;
    border: none;
    background-color: #ffffff;
    width: 10%;
}

.campo-busqueda {
    text-align: center;
    font-size: 12px;
    border: none;
    padding: 10px;
    width: 85%;
    border-radius: 0px;
}

.header-top-bar {
    width: 100%;
    padding: 12px;
}

.header-bottom-bar {
    padding: 10px 0px;
    width: 80%;
    background: linear-gradient(178.6deg, rgb(32, 32, 33) 11.8%, rgb(66, 68, 71) 83.8%);
}

.header-bottom-bar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.linknav {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

/* Main */

.description {
    width: 100%;
    font-size: 16px;
}

.equipment {
    width: 80%;
    margin: 0 auto;
}

.equipment article {
    background-color: #fff;
    margin: 7px 0px;
}

.shadow {
    box-shadow: 0px 0px 4px rgb(100, 100, 100);
}

.equipment article img {
    width: 100%;
    max-height: 350px;
}

.equipment h3 {
    margin: 20px 0px 0px 0px;
    font-size: 21px;
}

article div.main-article {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

p.font-size {
    font-size: 14px;
    padding: 10px;
    margin: 10px;
}

.banner {
    width: 100%;
}

.category-title {
    background-color: #ffffff;
    padding: 15px 0px;
    font-size: 21px;
    font-weight: normal;
}

.sector-banner {
    padding: 1px;
    overflow: hidden;
}

.sector-banner img {
    transition: transform .5s, filter 0.5s ease-in-out;
    filter: grayscale(0);
}

.sector-banner:hover img {
    filter: grayscale(100%);
    transform: scale(1.07);
}

.none {
    display: none;
}

/* Footer */

.main-footer {
    background-color: rgb(18, 17, 17);
    text-align: center;
    padding: 35px 15px 0px;
    margin: 40px auto 0px;    
}

.copyrightText {
    width: 100%;
    background: #272727;
    padding: 8px 50px;
    text-align: center;
    color: #999;
    font-size: 14px;
}

.flex-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: start;
}

.titlefooter {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    padding: 3px 11px;
}

.linkfooter {
    color: #bfbfbf;
    text-decoration: none;
    font-size: 14px;
    padding: 3px 11px;
}

.footer-hr {
    display: block;
    border: 0;
    height: 1px;
    background: #313131;
    margin: 1em 0;
}

.icon {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.padding-0 {
    padding: 0px;
}

.div-formas-de-pago {
    display: flex;
    padding: 3px 11px 35px;
}


/* Nosotros */

.link-main {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.text-nosotros {
    font-size: 16px;
    text-align: justify;
}

.margin-nosotros1 {
    margin-top: 20px;
}

.margin-nosotros2 {
    margin-bottom: 20px;
}

.main-section {
    width: 80%;
    margin: 0 auto;
}

.main-section article {
    background-color: #fff;
}

.main-section article img {
    width: 100%;
}

.main-section h3 {
    margin-top: 20px;
    font-size: 25px;
}

.follow-ig {
    font-weight: normal;
    text-align: left;
    padding-left: 5px;
}

.normal{
    font-weight: normal;
}

.banner-ig {
    padding: 30px 20px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.background-color {
    background-color: #f5f5f5;
    width: 100%;
    box-shadow: 0px 3px 3px rgb(100, 100, 100);
}

.text-ig {
    font-size: 22px;
    color: #000000;
    text-decoration: none;
    transition: color 0.6s;
}

.text-ig:hover {
    color: #808080;
}

.icon-ig {
    color: #000000;
    text-decoration: none;
    font-size: 47px;
    padding-right: 8px;
}

.ig-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Productos */


/* Certificaciones */

.section-certificaciones {
    background-color: #f5f5f5;
    border-bottom: 3px solid #808080;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
}

.section-certificaciones li img {
    width: 80%;
    margin-top: 20px;
}

.section-certificaciones ul li {
    list-style: none;
}

.container-zoom{
    position: fixed;
    text-align: center;
    background-color: rgba(0, 0, 0, 95%);
    width:100%;
    height: 100%;
    z-index:30;
    top:0;
    left: 0;
    display: none;
    justify-content: center;
    align-items:center
}

.close-zoom{
    position:absolute;
    color: white;
    font-size: 30px;
    top: 2%;
    right: 5%;
    cursor:pointer;
}

.image-zoom{
    margin-top: auto;
    margin: 5%;
    width: 80%;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* Contacto */

.section-contacto {
    background-color: #f5f5f5;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #d3d3d3;
    height: 115px;
    margin: 10px 0px;
    padding: 10px;
}

.section-contacto ul li {
    list-style: none;
}

.section-contacto li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.contacto{
    padding-top: 20px;
}

.w100{
    width: 100%;
}

/* Como llegar */

.iframe-map {
    width: 100%;
    height: 450px;
    margin-top: 15px;
}

.center {
    text-align: center;
}

.flex-como-llegar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    font-size: 13px;
    font-weight: 500;
}

.flex-como-llegar li {
    padding: 3px 5px;
}

.flex-como-llegar li a {
    text-decoration: none;
    color: #000000;
}

.flex-como-llegar li a:hover {
    color: #808080;
}

.flex-como-llegar li i {
    font-size: 17px;
    border-radius: 5px;
}

.text-como-llegar {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 7px;
}


/* Medias 576px, 768px, 992px y 1200px */

@media(min-width: 478px) {
    .equipment {
        width:68%;
    }
    
}

@media(min-width: 576px) {
    .equipment {
        width:58%;
    }
    .text-nosotros {
        font-size: 17px;
    }
    .flex-como-llegar {
        font-size: 14px;
    }
    .text-como-llegar {
        font-size: 23px;
    }
    .equipment article img {
        max-height: 390px;
    }

}

@media (min-width:768px) {
    .search-form {
        width: 100%;
        order: 1;
    }
    .categories {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .equipment article {
        width: 45%;
    }
    .none {
        display: block;
    }
    .hamburguer-button, 
    .mySidenav {
        display: none;
    }
    .equipment,
    .main-section {
        width:70%;
    }
    .main-navbar{
        display: flex;
        justify-content: center;
    }
    .dots{
        padding-top: 0px;
    }
    .dot{
        height: 15px;
        width: 15px; 
    }
    .link-main {
        font-size: 21px;
    }
    .text-nosotros {
        font-size: 20px;
    }
    .flex-como-llegar {
        font-size: 15px;
    }
    .text-como-llegar {
        font-size: 25px;
    }
    .equipment article img {
        max-height: 100%;
    } 
    .main-header {
        display: flex;
        justify-content: center;
    }
    .search-form {
        justify-content: center;
    }
    .header-top-bar {
        padding: 10px; 
        width: 40%;
        text-align: start;
    }
    .burger-search{
        width: 40%;
        padding-top: 30px; 
    }
    .logo{
        width: 70px;
    }
    .description {
        font-size: 18px;
    }
    .main-footer {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 35px;
    }
    footer{
        background-color: rgb(18, 17, 17);
    }
    .formas-de-pago{
        padding: 5px 0px;
    }
    .div-formas-de-pago {
        flex-direction: column;
    }
    .section-contacto {
        font-size: 18px;
     }
}

@media (min-width:1200px) {
    .equipment article,
    .main-section article {
        width: 30%;
    }
    .nosotros article  {
        width: 50%;
    }
    article.w100{
        width: 60%;
    }
    article.text-nosotros.w100{
        width: 40%;
    }
    .como-llegar article {
        width: 100%;
    }
    .section-contacto li a:hover {
        transition: color 0.6s;
        color: #808080;
    }
    .shadow {
        box-shadow: none;
    }
    .shadow:hover {
        box-shadow: 0px 0px 4px rgb(100, 100, 100);
    }
    .link-main {
        font-size: 22px;
    }
    .text-nosotros {
        font-size: 21px;
    }
    .linknav {
        font-size: 17px;
    }
    .linknav:hover {
        color: #D6D6D6;
    }
    .margin-nosotros1 {
        margin: 60px 30px 0px 0px;
    }
    .margin-nosotros2 {
        margin: 0px 30px 0px 0px;
    }
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }
    .linkfooter:hover {
        color: #D6D6D6;
    }
    .link-main:hover {
        color: #FF0000;
    }
    .logo{
        width: 100px;
    }
    .equipment h3,
    .category-title {
        font-size: 23px;
    }
    .copyrightText {
        padding: 11px 100px;
    }
    .section-contacto {
        margin: 0px 10px 15px 20px;
    }
    .main-footer {
        justify-content: space-around;
        width: 80%;
    }
    .margin-nosotros1 {
        margin: 60px 30px 0px 0px;
    }
    .margin-nosotros2 {
     margin: 0px 30px 0px 0px;
    }
    .main-section h3 {
        margin-top: 35px;
    }
    .text-ig {
        font-size: 27.5px;
    }
    .section-certificaciones {
        margin: 0px 30px 20px 0px;
    }
    .title-certificaciones{
        font-size: 23px;
    }
    .section-contacto {
        margin: 0px 10px 15px 20px; 
    }
    .flex-como-llegar li {
        padding: 0px 10px;
    }
    .section-contacto {
        font-size: 17px;
        height: px;
        padding: 10px;
     }
}