* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,body {
    height: 100vh;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: white;
}

/* Carousel */

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} 

/* Header */
.main-header{
    display: flex;
    justify-content: center;
    background-color: rgb(18, 17, 17);
}
.main-navbar{
    display: flex;
    justify-content: center;
}
.search-form{
    display: flex;
    align-self: center;
    width: 50%;
    justify-content: center;
}
.search-button{
    font-size: 12px;
    border: none;
    background-color: white;
    width:10%;
}
.campo-busqueda{
    text-align: center;
    font-size: 12px;
    border: none;
    padding:8px;
    width: 94%;
}
.header-top-bar{
    width: 40%;
    padding: 30px;
}
.header-bottom-bar{
    padding:10px 75px;
    width: 100%;
    background: linear-gradient(178.6deg, rgb(32, 32, 33) 11.8%, rgb(66, 68, 71) 83.8%);
    border: 3px solid black;
    border-left: 2px solid rgb(32, 32, 33);
    border-right: 2px solid rgb(32, 32, 33);
    /* display: none; */
}
.header-bottom-bar ul{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}
.linknav{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.linknav:hover{
    color: #D6D6D6;
}

/* Main */

.description{
    font-size: 18px;
    width: 100%;
}
.equipment{
    width: 70%;
    margin: 0 auto;
}
.equipment article{
    background-color: #fff;    
    margin: 7px 0px;
}
.equipment article img{
    width: 100%;
}
.equipment h3{
    margin: 20px 0px;
    font-size: 25px;
}
article div.main-article{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
p.font-size{
    font-size: 14px;
    padding: 10px;
    margin: 10px;
}
.banner{
    width: 100%;
}
.category-title{
    background-color: white;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: normal;
    
}
.sector-banner {
    padding: 1px;
    overflow: hidden;
}
.sector-banner img {
    transition: transform .5s, filter 0.5s ease-in-out;
    filter: grayscale(0);
}
.sector-banner:hover img {
    filter: grayscale(100%);
    transform: scale(1.07);
}

/* Footer */
.main-footer{
    display: flex;
    justify-content: center;
    color: white;
}
.footer-top-bar{
    background-color: rgb(18, 17, 17);
    width: 100%;
    padding: 30px;
}
.footer-mid-bar{
    background-color: rgb(18, 17, 17);
    width: 100%;
    text-align: center;
}
.footer-bottom-bar{
    background-color: rgb(18, 17, 17);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.arg-flag{
    width: 50px;
}
p.footer-top-bar{
    display: flex;
    justify-content: flex-end;
    width: 20%;
    font-size: 15px;
}
.footer-top-bar ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.footer-top-bar li{
   padding: 0px 10px;
}        
.linkfooter{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.linkfooter:hover{
    color: #D6D6D6;
}

/* Nosotros */
.link-main{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.link-main:hover{
    color: red;
}
.text-nosotros{
    font-size: 21px;
}
.margin-nosotros1{
  margin: 60px 30px 0px 0px;
}
.margin-nosotros2{
  margin: 0px 30px 0px 0px;
}
.main-section{
    width: 70%;
    margin: 0 auto;
}
.main-section article{
    background-color: #fff;    
}
.main-section article img{
    width: 100%;
}
.main-section h3{
    margin-top: 35px;
    font-size: 25px;
}
.normal{
    font-weight: normal;
}
.banner-ig{
    padding: 40px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}
.background-color{
    background-color: whitesmoke;
    width: 100%;
}
.text-ig{
    font-size: 27.5px;
    color: black;
    text-decoration: none;
}
.text-ig:hover{
    color: gray;
}
.icon-ig{
    color: black;
    text-decoration: none;
    font-size: 50px;
    padding-right: 8px;
}
.ig-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* Productos */

/* Certificaciones */

/* Footer */

/* Contacto */

/* Como llegar */

/* Medias */
@media(min-width: 478px){
    .shadow{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}
@media (min-width:768px){
    .none{
        display:block;
    }
    .search-form{
        width:50%;
        order: 1;
    }
    .categories{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .equipment article{
        width: 45%;
    }
    .main-section article{
        width: 45%;
    }
    .shadow{
        box-shadow: none;
    }
    .shadow:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width:1200px){
    .equipment article{
        width: 30%;
    }
    .main-section article{
        width: 30%;
    }
    .nosotros article{
        width: 50%;
    }
    footer{
        padding-top: 50px;
    }
}