<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/header")%>

    <main>
        <section class="certif-section">
            <h3 class="normal"><a href="/" class="link-main normal">Inicio</a> /<a class="link-main">
                    Certificaciones</a>
            </h3>
            <div class="contacto">
                <div class="categories">

                    <article class="text-nosotros">
                        <div class="section-certificaciones">
                            <h1 class="title-certificaciones"> CERTIFICADO RENAR MA.01 </h1>
                            <!-- <a href="http://www.redimpact.com.ar/MA01.jpg" target="_blank" rel="noreferrer">
                                        <img src="/images/ma01.jpg" alt="Certificado Renar MA.01">
                                    </a> -->
                            <div class="imagen-principal">
                                <img src="/images/ma01.jpg" alt="Certificado Renar MA.01" class="main-product-image">
                            </div>
                            <div class="container-zoom">
                                <span class="close-zoom">X</span>
                                <img src="/images/ma01.jpg" alt="Certificado Renar MA.01" class="image-zoom">
                            </div>
                        </div>
                    </article>

                    <article class="text-nosotros">
                        <div class="section-certificaciones">
                            <h1 class="title-certificaciones">CERTIFICADO RENAR MA.01 - A1 </h1>
                            <!-- <a href="http://www.redimpact.com.ar/MA01A1.jpg" target="_blank" rel="noreferrer">
                                <img src="/images/ma01a1.jpg" alt="Certificado Renar MA.01 - A1">
                            </a> -->
                            <div class="imagen-principal">
                                <img src="/images/ma01a1.jpg" alt="Certificado Renar MA.01 - A1"
                                    class="main-product-image">
                            </div>
                            <div class="container-zoom">
                                <span class="close-zoom">X</span>
                                <img src="/images/ma01a1.jpg" alt="Certificado Renar MA.01 - A1" class="image-zoom">
                            </div>
                        </div>
                    </article>

                </div>
            </div>
        </section>
    </main>

    <%- include("./partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>