<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/header")%>

    <main>
        <section class="certif-section">
            <ul class="breadcrumb">
                <li><a href="/" class="link-main">Inicio</a> /&nbsp;</li>
                <li><a class="link-main bolder">Certificaciones</a></li>
            </ul>
            <div class="contacto">
                <div class="categories">

                    <article class="text-nosotros">
                        <div class="section-certificaciones">
                            <h1 class="title-certificaciones">CERTIFICADO RENAR MA.01</h1>
                            <div class="imagen-principal">
                                <img src="/images/ma01.jpg" alt="Certificado Renar MA.01" class="main-product-image">
                            </div>
                            <div class="container-zoom">
                                <span class="close-zoom">X</span>
                                <img src="/images/ma01.jpg" alt="Certificado Renar MA.01" class="image-zoom">
                            </div>
                        </div>
                    </article>

                    <article class="text-nosotros">
                        <div class="section-certificaciones">
                            <h1 class="title-certificaciones">CERTIFICADO RENAR MA.01 - A1</h1>
                            <div class="imagen-principal">
                                <img src="/images/ma01a1.jpg" alt="Certificado Renar MA.01 - A1"
                                    class="main-product-image">
                            </div>
                            <div class="container-zoom">
                                <span class="close-zoom">X</span>
                                <img src="/images/ma01a1.jpg" alt="Certificado Renar MA.01 - A1" class="image-zoom">
                            </div>
                        </div>
                    </article>

                </div>
            </div>
        </section>
    </main>

    <%- include("./partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>