<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/header")%>

    <main>
        <section class="main-section">
            <h3 class="normal"><a href="/" class="link-main normal">Inicio</a> /<a class="link-main">
                    ¿Cómo llegar?</a></h3>
            <div class="como-llegar">
                <div class="categories">
                    <article>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26257.84340524792!2d-58.523647999999994!3d-34.6488832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac229550e9f%3A0x2dca2a698dd0cd98!2s5%20Piso%2C%20Av.%20Callao%20295%2C%20C1022AAC%20CABA!5e0!3m2!1ses-419!2sar!4v1623215479728!5m2!1ses-419!2sar"
                            class="iframe-map" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
                        </iframe>
                </div>
                </article>
            </div>
            </div>
        </section>

        <section class="banner-ig background-color">
            <div class="ig-flex">
                <article>
                    <p class="text-como-llegar">SOLO ATENDEMOS CON TURNO PREVIO</p>
                    <ul class="flex-como-llegar">
                        <li>
                            <i class="fas fa-phone"></i>
                            <a href="tel:011-4371-4304">011-4371-4304</a>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:info@redimpact.com.ar">info@redimpact.com.ar</a>
                        </li>
                        <li>
                            <i class="fab fa-instagram"></i>
                            <a href="https://www.instagram.com/red_impact_ok/?hl=es" target="_blank"
                                rel="noreefer">RED_IMPACT_OK</a>
                        </li>
                    </ul>
                </article>
            </div>
        </section>


    </main>

    <%- include("./partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>