<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/header")%>

    <main>
        <section class="main-section">
            <ul class="breadcrumb">
                <li><a href="/" class="link-main">Inicio</a> /&nbsp;</li>
                <li><a class="link-main bolder">Contacto</a></li>
            </ul>
            <div class="contacto">
                <div class="contact-category">
                    <article class="w100">
                        <img src="/images/banner-contacto.png" alt="Contacto">
                    </article>
                    <article class="text-contacto w100">
                        <div class="section-contacto mgn-right">
                            <h1>Dirección</h1>
                            <ul>
                                <li>Av.Callao 295 5 Piso</li>
                                <li>(C1022) CABA</li>
                            </ul>
                        </div>

                        <div class="section-contacto mgn-right">
                            <h1>Servicio al cliente</h1>
                            <ul>
                                <li>Tel : <a href="tel:+54 (11) 4371-4304">+54 (11) 4371-4304</a></li>
                                <li>Consultas a: <a href="mailto:info@redimpact.com.ar"
                                        rel="noreferrer">info@redimpact.com.ar</a></li>

                            </ul>
                        </div>

                        <div class="section-contacto">
                            <h1>Instagram</h1>
                            <ul>
                                <li>Contactanos por instagram:</li>
                                <li><a href="https://www.instagram.com/red_impact_ok/?hl=es" target="_blank"
                                        rel="noreferrer">@RED_IMPACT_OK</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>

    <%- include("./partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>