<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/header")%>
    <main>
        <div class="carousel">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="/images/banner-militar.png" alt="Banner Militar" style="width:100%">
                </div>

                <div class="mySlides fade">
                    <a href="http://www.redimpact.com.ar/catalogo.pdf" target="_blank" rel="noreferrer">
                        <img src="/images/banner-catalogo.png" alt="Banner Catalogo" style="width:100%">
                    </a>
                </div>

                <div class="mySlides fade">
                    <img src="/images/banner-policial.png" alt="Banner Policial" style="width:100%">
                </div>

                <a class="prev">&#10094;</a>
                <a class="next">&#10095;</a>
            </div>

            <br class="none">

            <div class="dots">
                <span class="dot" id="dot1"></span>
                <span class="dot" id="dot2"></span>
                <span class="dot" id="dot3"></span>
            </div>
        </div>

        <section class="equipment">
            <h3>Ver por categoria de producto:</h3>
            <div class="categories">
                <article>
                    <h4 class="category-title">Cascos</h4>
                    <div class="shadow">
                        <img src="/images/category-1.png" alt="Categoria de Accesorios">
                        <div class="main-article">
                            <p class="description">Nuestros cascos están diseñados para mejorar
                                directamente la protección, y favorecer la movilidad y comodidad del usuario.
                            </p>
                        </div>
                    </div>
                </article>
                <article>
                    <h4 class="category-title">Uniformes</h4>
                    <div class="shadow">
                        <img src="/images/category-2.png" alt="Categoria de Equipos de visión">
                        <div class="main-article">
                            <p class="description">Nuestros uniformes respetan las necesidades tecnicas con un estandar
                                elevado para el uso operativo que permite un uso intensivo sin restar comodidad al
                                usuario.
                            </p>
                        </div>
                    </div>
                </article>
                <article>
                    <h4 class="category-title">Accesorios</h4>
                    <div class="shadow">
                        <img src="/images/category-3.png" alt="Categoria de Mascaras de gas">
                        <div class="main-article">
                            <p class="description">Disponemos de un alto catálogo de accesorios para cubrir las
                                necesidades de las fuerzas y sus integrantes.</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <section class="equipment">
            <h3>Ver por equipamiento:</h3>
            <div class="categories">
                <article>
                    <h4 class="category-title">Militar</h4>
                    <div class="shadow">
                        <img src="/images/category-4.jpg" alt="Imagen Militar">
                        <div class="main-article">
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                                facere qui illo consectetur. Dolor amet voluptatibus voluptas, officiis esse aliquid
                            </p>
                        </div>
                    </div>
                </article>
                <article>
                    <h4 class="category-title">Seguridad</h4>
                    <div class="shadow">
                        <img src="/images/category-5.jpg" alt="Imagen Policial">
                        <div class="main-article">
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                                facere qui illo consectetur. Dolor amet voluptatibus voluptas, officiis esse aliquid
                            </p>
                        </div>
                    </div>
                </article>
                <article>
                    <h4 class="category-title">Policial</h4>
                    <div class="shadow">
                        <img src="/images/category-6.jpg" alt="Imagen Prefectura">
                        <div class="main-article">
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                                facere qui illo consectetur. Dolor amet voluptatibus voluptas, officiis esse aliquid
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <%- include("./partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>