<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/header")%>

    <main>
        <div class="slideshow-container">

            <div class="mySlides fade">
                <img src="/images/banner-1.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="/images/banner-1.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="/images/banner-1.jpg" style="width:100%">
            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <!-- <div class="main-banner">
                <img src="/images/banner-1.jpg" alt="Banner de ofertas" class="banner">
        </div> -->

        <!-- <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/images/banner-1.jpg" style="width:100%">
                <div class="text">Caption Text</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/images/banner-1.jpg" style="width:100%">
                <div class="text">Caption Two</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/images/banner-1.jpg" style="width:100%">
                <div class="text">Caption Three</div>
            </div>

            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" id="dot1"></span>
            <span class="dot" id="dot2"></span>
            <span class="dot" id="dot3"></span>
        </div> -->

        <section class="equipment">
            <h3>Ver por equipamiento:</h3>
            <div class="categories">
                <article>
                    <h4 class="category-title">Militar</h4>
                    <img src="/images/category-1.jpg" alt="Cafetera">
                    <div class="main-article">
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus minima
                            a
                            assumenda dolorem sint iste hic aspernatur ullam laudantium? Eaque blanditiis excepturi
                            quisquam quos optio, dolorem quas rem iste doloribus!</p>
                    </div>
                </article>
                <article>
                    <h4 class="category-title">Policial</h4>
                    <img src="/images/category-2.jpg" alt="Cafetera">
                    <div class="main-article">
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae
                            adipisci
                            qui excepturi voluptatibus exercitationem nisi repellendus, vitae deleniti est fugiat nihil.
                            Debitis laudantium eligendi, deleniti quod sint odit. Beatae, veniam?</p>
                    </div>
                </article>
                <article>
                    <h4 class="category-title">Prefectura</h4>
                    <img src="/images/category-3.jpg" alt="Cafetera">
                    <div class="main-article">
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum ratione
                            atque
                            eum vitae, dolores laudantium beatae a non possimus nihil distinctio vel vero officia ad
                            quisquam minima repellat, earum accusamus.</p>
                    </div>
                </article>
            </div>
        </section>

        <section class="equipment">
            <h3>Ver por categoria de producto:</h3>
            <div class="categories">
                <article>
                    <h4 class="category-title">Accesorios</h4>
                    <img src="/images/category-4.jpg" alt="Cafetera">
                    <div class="main-article">
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ad error
                            incidunt debitis, culpa, odit sit quo exercitationem autem illum dolor mollitia, accusantium
                            quasi voluptatibus fugit atque voluptates sapiente ex!</p>
                    </div>
                </article>
                <article>
                    <h4 class="category-title">Equipos de visión</h4>
                    <img src="/images/category-5.jpg" alt="Cafetera">
                    <div class="main-article">
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptate
                            temporibus impedit numquam sit dolorum quam eligendi vitae libero? Ullam, ducimus alias quo
                            laborum nisi veniam. Quisquam accusantium fugit repellendus.</p>
                    </div>
                </article>
                <article>
                    <h4 class="category-title">Mascaras de gas</h4>
                    <img src="/images/category-6.jpg" alt="Cafetera">
                    <div class="main-article">
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam sint,
                            adipisci molestiae nesciunt a sit laudantium quidem voluptatum ad ratione at harum labore ex
                            id numquam impedit quas quia suscipit.</p>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <%- include("./partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>