<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/header")%>

    <!-- <main>
        <section class="home">
            <article class="images">
                <img src="/images/products-button.png" alt="Nuestros productos" class="padding-img">
                <img src="/images/catalogo-button.png" alt="Nuestro catalogo" class="padding-img">
                <img src="/images/contacto-button.png" alt="Contactanos" class="padding-img">

                <span class="sector-banner"><img src="/images/products-image.png" alt="Imagen para productos"
                        class="padding-img"></span>
                <span class="sector-banner"><img src="/images/catalogo-image.png" alt="Imagen para catalogo"
                        class="padding-img"></span>
                <span class="sector-banner"><img src="/images/contacto-image.png" alt="Imagen para contacto"
                        class="padding-img"></span>
            </article>

        </section>
    </main> -->

    <%- include("./partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>