<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <%- include("./partials/header")%>

    <main>
        <section class="main-section">
            <ul class="normal">
                <li><a href="/" class="link-main normal">Inicio</a> /&nbsp;</li>
                <li><a class="link-main">Nosotros</a></li>
            </ul>
            <div class="nosotros">
                <div class="categories">
                    <article class="text-nosotros">
                        <p class="margin-nosotros1">
                            Red Impact S.A. se establece en el mercado local En el 2008 con el fin de abastecer a las
                            FFAA
                            de
                            Seguridad y Policiales, con los elementos necesarios para sus funciones especificas,
                            integrando
                            a la
                            misma la ciencia y la tecnologia en el desarrollo de sus productos, contando con una
                            excelente
                            reputación en el mercado.
                        </p>
                        <p class="margin-nosotros2">
                            Para ello contamos con diversas representaciones exclusivas de empresas internacionales, que
                            abastecen a
                            más de 50 países, de reconocido y comprobado prestigio en materiales de seguridad.
                            Nos empeñamos en contar con estrictos controles de calidad, garantizando un producto de
                            excelencia
                            acorde a las necesidades de nuestros clientes a un precio competitivo en el rubro.
                        </p>
                    </article>
                    <article>
                        <img src="images/banner-nosotros.png" alt="Red Impact S.A">
                    </article>
                </div>
            </div>
        </section>

        <section class="banner-ig background-color">
            <div class="ig-flex">
                <article>
                    <i class="fab fa-instagram icon-ig"></i>
                </article>

                <article>
                    <p class="follow-ig">SEGUINOS EN INSTAGRAM</p>
                    <a href="https://www.instagram.com/red_impact_ok/?hl=es" target="_blank" rel="noreferrer"
                        class="text-ig">
                        <p>@RED_IMPACT_OK</p>
                    </a>
                </article>
            </div>
        </section>

    </main>

    <%- include("./partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>