<aside>
    <h3><a href="/products/productosCascos">Cascos</a></h3>
    <ul>
        <li><a href="">Mich 2000</a></li>
        <li><a href="">Antidisturbios</a></li>
        <li><a href="">Antibalas</a></li>
        <li><a href="">Fast BJ</a></li>
    </ul>
    <h3><a href="/products/productosInd">Indumentaria</a></h3>
    <ul>
        <li><a href="">Pantalones</a></li>
        <li><a href="">Camisas</a></li>
        <li><a href="">Abrigo</a></li>
        <li><a href="/products/productosInd#Gorros">Gorros</a></li>
    </ul>
    <h3><a href="/products/productosCalzado">Calzado</a></h3>
    <ul>
        <li><a href="">Borceguies</a></li>
        <li><a href="">Zapatos</a></li>
        <li><a href="">Botas</a></li>
    </ul>
    <h3><a href="/products/productosEquipamiento">Equipamiento</a></h3>
    <ul>
        <li><a href="">Chalecos</a></li>
        <li><a href="">Escudos</a></li>
        <li><a href="">Equipo antidisturbios</a></li>
        <li><a href="">Linternas</a></li>
        <li><a href="">Conjunto para lluvia</a></li>
        <li><a href="">Caramañola</a></li>
    </ul>
    <h3><a href="/products/productosByM">Bolsos y mochilas</a></h3>
    <ul>
        <li><a href="">Mochilas</a></li>
        <li><a href="">Bolsos</a></li>
    </ul>
    <h3><a href="/products/productosUniformes">Uniformes</a></h3>
    <ul>
        <li><a href="">Uniformes policiales</a></li>
        <li><a href="">GNA</a></li>
        <li><a href="">PNA</a></li>
        <li><a href="">SPF</a></li>
    </ul>
    <h3><a href="/products/productosAccesorios">Accesorios</a></h3>
    <ul>
        <li><a href="">Rodilleras</a></li>
        <li><a href="">Guantes</a></li>
        <li><a href="">Cinturones</a></li>
        <li><a href="">Supervivencia</a></li>
        <li><a href="">Carpas</a></li>
        <li><a href="">Catres</a></li>
        <li><a href="">Bolsas de dormir</a></li>
    </ul>
</aside>