<aside>
    <h3><a href="/products/productosInd">Cascos</a></h3>
    <ul>
        <li><a href="">Cascos 1</a></li>
        <li><a href="">Cascos 2</a></li>
        <li><a href="">Cascos 3</a></li>
    </ul>
    <h3><a href="/products/productosInd">Indumentaria</a></h3>
    <ul>
        <li><a href="">Pantalones</a></li>
        <li><a href="">Camisas</a></li>
        <li><a href="">Chalecos</a></li>
        <li><a href="">Abrigo</a></li>
    </ul>
    <h3><a href="products/productosCalzado">Calzado</a></h3>
    <ul>
        <li><a href="">Borceguies</a></li>
        <li><a href="">Zapatos</a></li>
        <li><a href="">Botas</a></li>
    </ul>
    <h3><a href="products/productosAccesorios">Equipamiento</a></h3>
    <ul>
        <li><a href="">Escudos</a></li>
        <li><a href="">Linternas</a></li>
        <li><a href="">Catres</a></li>
        <li><a href="">Carpas</a></li>
    </ul>
    <h3><a href="products/productosBolsos">Bolsos y mochilas</a></h3>
    <ul>
        <li><a href="">Mochilas</a></li>
        <li><a href="">Bolsos</a></li>
    </ul>
    <h3><a href="products/productosUniformes">Uniformes</a></h3>
    <ul>
        <li><a href="">Uniformes policiales</a></li>
        <li><a href="">GNA</a></li>
        <li><a href="">PNA</a></li>
        <li><a href="">SPF</a></li>
    </ul>
    <h3><a href="products/productosAtributos">Accesorios</a></h3>
    <ul>
        <li><a href="">Rodilleras</a></li>
        <li><a href="">Guantes</a></li>
        <li><a href="">Cinturones</a></li>
    </ul>
</aside>