<footer>
    <section class="main-footer">
        <nav class="footer-top-bar">
            <ul>
                <li><a href="/" class="linkfooter">Nosotros</a></li>
                <li><a href="/" class="linkfooter">Productos</a></li>
                <li><a href="/" class="linkfooter">Catálogo</a></li>
                <li><a href="/" class="linkfooter">Certificaciones</a></li>
                <li><a href="/" class="linkfooter">Contacto</a></li>
                <li><a href="/" class="linkfooter">Como llegar</a></li>
            </ul>
        </nav>

        <p class="footer-top-bar">Solo atendemos con turno!</p>
    </section>

    <article class="main-footer">
        <div class="footer-mid-bar">
            <img src="/images/logo-redimpact.png" alt="Logo" class="arg-flag">
            <p>FABRICADO EN ARGENTINA</p>
            <img src="/images/arg-icon.png" alt="Bandera de Argentina" class="arg-flag">
        </div>
    </article>

    <section class="main-footer">
        <article class="footer-top-bar">
            <img src="/images/medios-de-pago.png" alt="Medios de pago">
        </article>
        <nav class="footer-bottom-bar">
            <ul>
                <li><a href="/" class="linkfooter">Telefono: _________</a></li>
                <li><a href="/" class="linkfooter">Mail: _________</a></li>
                <li><a href="/" class="linkfooter">Instagram: _________</a></li>
            </ul>
        </nav>
    </section>

</footer>

<!-- <p>Red Impact S.A. - Av. Callao 295, 5° / (C1022) C.A.B.A. / Tel.: +54 (11) 4371-4304 </p>
<br>
<p>Contactanos por instagram!
    <a href="https://www.instagram.com/?hl=es" target="_blank">
        <i class="fab fa-instagram icon"></i>
    </a>
</p> -->