<footer>
    <section class="main-footer">
        <div>
            <h3 class="titlefooter">Red Impact</h3>
            <ul class="flex-ul">
                <li><a href="/nosotros" class="linkfooter">Nosotros</a></li>
                <li><a href="http://www.redimpact.com.ar/catalogo.pdf" class="linkfooter" target="_blank"
                        rel="noreferrer" class="linkfooter">Catálogo</a></li>
                <li><a href="/products" class="linkfooter">Productos</a></li>
                <li><a href="/contacto" class="linkfooter">Contacto</a></li>
                <li><a href="/como-llegar" class="linkfooter">¿Cómo llegar?</a></li>
                <li><a href="/certificaciones" class="linkfooter">Certificaciones</a></li>
            </ul>
        </div>
        <hr class="footer-hr">
        <div>
            <h3 class="titlefooter">Contactanos</h3>
            <ul class="flex-ul">
                <li class="linkfooter"><i class="fas fa-phone icon"></i> <a href="tel:+54 (11) 4371-4304"
                        class="linkfooter padding-0">+54 (11) 4371-4304</a></li>
                <li class="linkfooter"><i class="fas fa-envelope icon"></i> <a href="mailto:info@redimpact.com.ar"
                        class="linkfooter padding-0"> info@redimpact.com.ar</a></li>
                <li class="linkfooter"><i class="fab fa-instagram icon"></i> <a
                        href="https://www.instagram.com/red_impact_ok/?hl=es" target="_blank" rel="nofollow noreefer"
                        class="linkfooter padding-0"> red_impact_ok</a></li>
                <li class="linkfooter"><i class="fas fa-map-marker-alt icon"></i> <a
                        href="https://www.google.com/maps/place/5+Piso,+Av.+Callao+295,+C1022AAC+CABA/@-34.605754,-58.392021,13z/data=!4m5!3m4!1s0x95bccac229550e9f:0x2dca2a698dd0cd98!8m2!3d-34.6057544!4d-58.3920214?hl=es-419"
                        target="_blank" rel="nofollow noreefer" class="linkfooter padding-0"> Av. Callao 295, 5° /
                        (C1022)
                        C.A.B.A.</a></li>
            </ul>
        </div>
        <hr class="footer-hr">
        <div>
            <h3 class="titlefooter">Formas de pago</h3>
            <div class="div-formas-de-pago">
                <img src="/images/medios-de-pago.png" alt="Formas de pago" class="formas-de-pago">
                <img src="/images/medios-de-pago.png" alt="Formas de pago" class="formas-de-pago">
            </div>
        </div>
    </section>

    <div class="copyrightText">
        <p>Copyright © 2021 Red Impact S.A. Todos los derechos reservados.</p>
    </div>

    <a href="https://api.whatsapp.com/send?phone=5443714304&text=Hola%21%20Estoy%20navegando%20Red%20Impact%20y%20quiero%20saber%20m%C3%A1s%20informaci%C3%B3n%20sobre%20un%20producto."
        class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
</footer>