<header>
    <section class="main-header">
        <div class="header-top-bar">
            <a href="/"><img src="/images/logo-redimpact.png" alt="Logo Red Impact" class="logo"></a>
        </div>

        <div class="burger-search">
            <div class="contenedor-menu" id="contenedor-menu">
                <i class="fas fa-bars hamburguer-button"></i>
            </div>
            <div class="menu-open" id="menu-open">
                <ul class="open-list">
                    <li><span class="menu-close" id="menu-close">x</span></li>
                    <li><a href="/nosotros" id="link-desplegable">Nosotros</a></li>
                    <li><a href="/productos" id="link-desplegable">Productos</a></li>
                    <li><a href="http://www.redimpact.com.ar/catalogo.pdf" target="_blank" rel="noreferrer"
                            id="link-desplegable">Catálogo</a></li>
                    <li><a href="/contacto" id="link-desplegable">Contacto</a></li>
                    <li><a href="/como-llegar" id="link-desplegable">¿Cómo llegar?</a></li>
                    <li><a href="/certificaciones" id="link-desplegable">Certificaciones</a></li>
                    <li><a href="/"><img src="images/logo-redimpact.png" alt="Logo de Red Impact"></a></li>
                </ul>
            </div>

            <form action="/search" method="GET" class="search-form">
                <input type="text" name="search" placeholder="¿Qué estás buscando?" class="campo-busqueda">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>

        </div>

    </section>

    <section class="main-navbar">
        <nav class="header-bottom-bar">
            <ul>
                <li><a href="/nosotros" class="linknav">Nosotros</a></li>
                <li><a href="/productos" class="linknav">Productos</a></li>
                <li><a href="http://www.redimpact.com.ar/catalogo.pdf" class="linknav" target="_blank"
                        rel="noreferrer">Catálogo</a></li>
                <li><a href="/contacto" class="linknav">Contacto</a></li>
                <li><a href="/como-llegar" class="linknav">¿Cómo llegar?</a></li>
                <li><a href="/certificaciones" class="linknav">Certificaciones</a></li>
            </ul>
        </nav>

    </section>
</header>