<header>
    <section class="main-header">
        <div class="header-top-bar">
            <a href="/"><img src="/images/logo-redimpact.png" alt="Logo Red Impact" class="logo"></a>
        </div>

        <div class="burger-search">

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
                <a href="/nosotros">Nosotros</a>
                <a href="http://www.redimpact.com.ar/catalogo.pdf" target="_blank" rel="noreferrer">Catálogo</a>
                <!-- PRODUCTOS -->
                <button class="dropdown-btn toggle-btn"><span class="btnProducts">Productos</span>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <!-- INDUMENTARIA -->
                    <button class="dropdown-btn toggle-btn bgc"><span class="btnIndumentaria subBtn">Indumentaria</span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="#about">Pantalones</a>
                        <a href="#about">Chalecos</a>
                        <a href="#about">Camisas</a>
                        <a href="#about">Escudos</a>
                        <a href="#about">Abrigo</a>
                    </div>
                    <!-- CALZADO -->
                    <button class="dropdown-btn toggle-btn bgc"><span class="btnCalzado subBtn">Calzado</span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="#about">Borceguies</a>
                        <a href="#about">Zapatos</a>
                        <a href="#about">Botas</a>
                    </div>
                    <!-- ACCESORIOS -->
                    <button class="dropdown-btn toggle-btn bgc"><span class="btnAccesorios subBtn">Accesorios</span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="#about">Linternas</a>
                        <a href="#about">Guantes</a>
                        <a href="#about">Cinturones</a>
                    </div>
                    <!-- BOLSOS Y MOCHILAS -->
                    <button class="dropdown-btn toggle-btn bgc"><span class="btnBolsos subBtn">Bolsos y mochilas</span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="#about">Mochilas</a>
                        <a href="#about">Bolsos</a>
                    </div>
                    <!-- UNIFORMES -->
                    <button class="dropdown-btn toggle-btn bgc"><span class="btnUniformes subBtn">Uniformes</span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="#about">Policia Bonaerense</a>
                        <a href="#about">GNA</a>
                        <a href="#about">PSA</a>
                    </div>
                    <!-- ATRIBUTOS MILITARES -->
                    <button class="dropdown-btn toggle-btn bgc"><span class="btnAtributos subBtn">Atributos
                            militares</span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a href="#about">Seguridad</a>
                        <a href="#about">Policial</a>
                        <a href="#about">Militar</a>
                    </div>
                </div>
                <a href="/contacto">Contacto</a>
                <a href="/como-llegar">¿Cómo llegar?</a>
                <a href="/certificaciones">Certificaciones</a>
                <a href="/"><img src="/images/logo-redimpact.png" alt="Logo de Red Impact"></a>
            </div>

            <span id="openNav"><i class="fas fa-bars hamburguer-button"></i></span>

            <form action="/search" method="GET" class="search-form">
                <input type="text" name="search" placeholder="¿Qué estás buscando?" class="campo-busqueda">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </section>

    <section class="main-navbar">
        <nav class="header-bottom-bar">
            <ul class="d-flex">
                <li><a href="/nosotros" class="linknav">Nosotros</a></li>
                <li><a href="http://www.redimpact.com.ar/catalogo.pdf" class="linknav" target="_blank"
                        rel="noreferrer">Catálogo</a></li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn linknav">Productos</button>
                        <div class="dropdown-content">
                            <ul>
                                <li><a href="/products/productosInd" class="categoryTitle">Indumentaria</a></li>
                                <ul>
                                    <li><a href="">Pantalones</a></li>
                                    <li><a href="">Chalecos</a></li>
                                    <li><a href="">Camisas</a></li>
                                    <li><a href="">Escudos</a></li>
                                    <li><a href="">Abrigo</a></li>
                                </ul>
                            </ul>
                            <ul>
                                <li><a href="/calzado" class="categoryTitle">Calzado</a></li>
                                <ul>
                                    <li><a href="">Borceguies</a></li>
                                    <li><a href="">Zapatos</a></li>
                                    <li><a href="">Botas</a></li>
                                </ul>
                            </ul>
                            <ul>
                                <li><a href="/accesorios" class="categoryTitle">Accesorios</a></li>
                                <ul>
                                    <li><a href="">Linternas</a></li>
                                    <li><a href="">Guantes</a></li>
                                    <li><a href="">Cinturones</a></li>
                                </ul>
                            </ul>
                            <ul>
                                <li><a href="/bolsos-y-mochilas" class="categoryTitle">Bolsos y mochilas</a></li>
                                <ul>
                                    <li><a href="">Mochilas</a></li>
                                    <li><a href="">Bolsos</a></li>
                                </ul>
                            </ul>
                            <ul>
                                <li><a href="/uniformes" class="categoryTitle">Uniformes</a></li>
                                <ul>
                                    <li><a href="">Policia Bonaerense</a></li>
                                    <li><a href="">GNA</a></li>
                                    <li><a href="">PSA</a></li>
                                </ul>
                            </ul>
                            <ul>
                                <li><a href="/atributos-militares" class="categoryTitle">Atributos militares</a></li>
                                <ul>
                                    <li><a href="">Seguridad</a></li>
                                    <li><a href="">Policial</a></li>
                                    <li><a href="">Militar</a></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="/certificaciones" class="linknav">Certificaciones</a></li>
                <li><a href="/como-llegar" class="linknav">¿Cómo llegar?</a></li>
                <li><a href="/contacto" class="linknav">Contacto</a></li>
            </ul>
        </nav>
    </section>
</header>