<header>
    <section class="main-header">
        <div class="header-top-bar">
            <a href="/"><img src="/images/logo-redimpact.png" alt="Logo Red Impact" class="logo"></a>
        </div>

        <div class="burger-search">

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
                <button class="dropdown-btn toggle-btn"><span class="btnProducts">Productos</span>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="#about">Indumentaria</a>
                    <a href="#services">Calzado</a>
                    <a href="#contact">Accesorios</a>
                    <a href="#clients">Bolsos y mochilas</a>
                    <a href="#contact">Uniformes</a>
                    <a href="#contact">Atributos militares</a>
                </div>
                <a href="/nosotros">Nosotros</a>
                <a href="http://www.redimpact.com.ar/catalogo.pdf" target="_blank" rel="noreferrer">Catálogo</a>
                <a href="/contacto">Contacto</a>
                <a href="/como-llegar">¿Cómo llegar?</a>
                <a href="/certificaciones">Certificaciones</a>
                <a href="/"><img src="images/logo-redimpact.png" alt="Logo de Red Impact"></a>
            </div>

            <span id="openNav"><i class="fas fa-bars hamburguer-button"></i></span>

            <form action="/search" method="GET" class="search-form">
                <input type="text" name="search" placeholder="¿Qué estás buscando?" class="campo-busqueda">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </section>

    <section class="main-navbar">
        <nav class="header-bottom-bar">
            <ul>
                <li><a href="/productos" class="linknav">Productos</a></li>
                <li><a href="/nosotros" class="linknav">Nosotros</a></li>
                <li><a href="http://www.redimpact.com.ar/catalogo.pdf" class="linknav" target="_blank"
                        rel="noreferrer">Catálogo</a></li>
                <li><a href="/contacto" class="linknav">Contacto</a></li>
                <li><a href="/como-llegar" class="linknav">¿Cómo llegar?</a></li>
                <li><a href="/certificaciones" class="linknav">Certificaciones</a></li>
            </ul>
        </nav>
    </section>
</header>