<header>
    <section class="main-header">
        <div class="header-top-bar">
            <a href="/"><img src="/images/logo-redimpact.png" alt="Logo Red Impact" class="logo"></a>
        </div>
        <form action="/search" method="GET" class="search-form">
            <input type="text" name="search" placeholder="¿Qué estás buscando?" class="campo-busqueda">
            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </form>
    </section>

    <section class="main-navbar">
        <nav class="header-bottom-bar none">
            <ul>
                <li><a href="/" class="linknav">NOSOTROS</a></li>
                <li><a href="/" class="linknav">PRODUCTOS</a></li>
                <li><a href="/" class="linknav">CATÁLOGO</a></li>
                <li><a href="/" class="linknav">CERTIFICACIONES</a></li>
                <li><a href="/" class="linknav">CONTACTO</a></li>
                <li><a href="/" class="linknav">COMO LLEGAR</a></li>
            </ul>
        </nav>

    </section>
</header>