<div class="sticky-menu">
    <div class="filter-box">
        Filtros <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <div class="drop-categories hidden">
        <!-- INDUMENTARIA -->
        <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnIndumentaria filterTitles"><a href=""
                    class="filterColor">Indumentaria</a></span>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container subCategories">
            <a href="#about">Pantalones</a>
            <a href="#about">Chalecos</a>
            <a href="#about">Camisas</a>
            <a href="#about">Escudos</a>
            <a href="#about">Abrigos</a>
        </div>
        <!-- CALZADO -->
        <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnCalzado filterTitles"><a href=""
                    class="filterColor">Calzado</a></span>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container subCategories">
            <a href="#about">Borceguies</a>
            <a href="#about">Zapatos</a>
            <a href="#about">Botas</a>
        </div>
        <!-- ACCESORIOS -->
        <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnAccesorios filterTitles"><a href=""
                    class="filterColor">Accesorios</a></span>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container subCategories">
            <a href="#about">Linternas</a>
            <a href="#about">Guantes</a>
            <a href="#about">Cinturones</a>
        </div>
        <!-- BOLSOS Y MOCHILAS -->
        <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnBolsos filterTitles"><a href=""
                    class="filterColor">Bolsos y mochilas</a></span>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container subCategories">
            <a href="#about">Mochilas</a>
            <a href="#about">Bolsos</a>
        </div>
        <!-- UNIFORMES -->
        <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnUniformes filterTitles"><a href=""
                    class="filterColor">Uniformes</a></span>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container subCategories">
            <a href="#about">Policia Bonaerense</a>
            <a href="#about">GNA</a>
            <a href="#about">PSA</a>
        </div>
        <!-- ATRIBUTOS MILITARES -->
        <button class="dropdown-btn toggle-btn bgcProducts"><span class="btnAtributos filterTitles"><a href=""
                    class="filterColor">Atributos militares</a></span>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container subCategories">
            <a href="#about">Seguridad</a>
            <a href="#about">Policial</a>
            <a href="#about">Militar</a>
        </div>
    </div>
</div>